<section class="p-3">
  <div class="w-full flex flex-col items-center">
    <div class="w-full max-w-[1248px] flex items-center justify-center p-2.5 h-40 bg-slate-400 mb-5 rounded text-white uppercase">
      [imagen principal]
    </div>
    <div>
      [TEXTO EXPLICATIVO]
    </div>
    <div class="w-full max-w-[1248px]">
      <h2 class="font-medium text-2xl">Cursos</h2>
    </div>
    <div class="w-full max-w-[1248px]">
      <hr class="border-t-black/30" />
      <!-- cursos -->
      <div class="w-full grid gap-2.5 grid-cols-2 md:grid-cols-3 lg:grid-cols-5 mt-2">
        <!-- card -->
        <div class="w-full rounded overflow-hidden bg-emerald-100">
          <div class="w-full p-3 bg-emerald-500 flex items-center justify-center text-emerald-100">
            [IMAGEN CURSO]
          </div>
          <div class="p-3 flex flex-col gap-2.5">
            <h3 class="font-bold text-emerald-800">Python</h3>
            <p class="text-sm text-justify line-clamp-2">
              Un lenguaje de alto nivel y fácil de aprender, utilizado en
              diversos campos como desarrollo web, análisis de datos,
              inteligencia artificial y automatización.
            </p>
            <button
              class="w-fit p-3 bg-emerald-600 text-emerald-100 rounded-sm cursor-pointer hover:bg-emerald-700 transition-all"
            >
              ver curso
            </button>
          </div>
        </div>
        <div class="w-full rounded overflow-hidden bg-indigo-100">
          <div class="w-full p-3 bg-indigo-500 flex items-center justify-center text-indigo-100">
            [IMAGEN CURSO]
          </div>
          <div class="p-3 flex flex-col gap-2.5">
            <h3 class="font-bold text-indigo-800">C++</h3>
            <p class="text-sm text-justify line-clamp-2">
              Un lenguaje de alto rendimiento, utilizado para desarrollo de
              sistemas, juegos, aplicaciones de alto rendimiento y sistemas
              embebidos.
            </p>
            <a
              class="w-fit p-2.5 bg-indigo-600 text-indigo-100 rounded-sm cursor-pointer hover:bg-indigo-700 transition-all"
            >
              ver curso
            </a>
          </div>
        </div>
        <div class="w-full rounded overflow-hidden bg-slate-100">
          <div class="w-full p-3 bg-slate-500 flex items-center justify-center text-slate-100">
            [IMAGEN CURSO]
          </div>
          <div class="p-3 flex flex-col gap-2.5">
            <h3 class="font-bold text-slate-800">Java</h3>
            <p class="text-sm text-justify line-clamp-2">
              Un lenguaje de alto nivel y fácil de aprender, utilizado en
              diversos campos como desarrollo web, análisis de datos,
              inteligencia artificial y automatización.
            </p>
            <button
              class="w-fit p-3 bg-slate-600 text-slate-100 rounded-sm cursor-pointer hover:bg-slate-700 transition-all"
            >
              ver curso
            </button>
          </div>
        </div>
        <div class="w-full rounded overflow-hidden bg-blue-100">
          <div class="w-full p-3 bg-blue-500 flex items-center justify-center text-blue-100">
            [IMAGEN CURSO]
          </div>
          <div class="p-3 flex flex-col gap-2.5">
            <h3 class="font-bold text-blue-800">Python</h3>
            <p class="text-sm text-justify line-clamp-2">
              Un lenguaje de alto nivel y fácil de aprender, utilizado en
              diversos campos como desarrollo web, análisis de datos,
              inteligencia artificial y automatización.
            </p>
            <button
              class="w-fit p-3 bg-blue-600 text-blue-100 rounded-sm cursor-pointer hover:bg-blue-700 transition-all"
            >
              ver curso
            </button>
          </div>
        </div>
        <div class="w-full rounded overflow-hidden bg-amber-100">
          <div class="w-full p-3 bg-amber-500 flex items-center justify-center text-amber-100">
            [IMAGEN CURSO]
          </div>
          <div class="p-3 flex flex-col gap-2.5">
            <h3 class="font-bold text-amber-800">JavaScript</h3>
            <p class="text-sm text-justify line-clamp-2">
              Un lenguaje de alto nivel y fácil de aprender, utilizado en
              diversos campos como desarrollo web, análisis de datos,
              inteligencia artificial y automatización.
            </p>
            <button
              class="w-fit p-3 bg-amber-600 text-amber-100 rounded-sm cursor-pointer hover:bg-amber-700 transition-all"
            >
              ver curso
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
1. Python:
Un lenguaje de alto nivel y fácil de aprender, utilizado en diversos campos como desarrollo web, análisis de datos, inteligencia artificial y automatización. 

2. Java:
Un lenguaje orientado a objetos, conocido por su portabilidad y utilizado en aplicaciones empresariales, Android y grandes sistemas. 

3. C++:
Un lenguaje de alto rendimiento, utilizado para desarrollo de sistemas, juegos, aplicaciones de alto rendimiento y sistemas embebidos. 

4. C#:
Un lenguaje desarrollado por Microsoft, utilizado principalmente para desarrollo en Windows, aplicaciones web con ASP.NET y juegos con Unity. 

5. JavaScript:
Esencial para el desarrollo web front-end, también se utiliza en el back-end con Node.js y en aplicaciones móviles con frameworks como React Native. 
-->
